@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.middle {
  @apply flex justify-center items-center
}

.ion-color-purple {
  --ion-color-base: #3D1B47
}

.ion-color-grey {
  --ion-color-base: #888888
}


.horizontal_dotted_line {
  display: flex;
  width: auto;
  padding: 5px;
} 

.dotted-line {
  border-bottom: 1px dotted black;
  margin-left: 2px;
  margin-right: 2px;
  width: auto;
  content: '';
  height: 1.4em;
  flex: 1;
  overflow: hidden;
}

#OSMap {
  aspect-ratio : 5 / 4
}

.md body {
  --ion-text-color: black;
  --ion-background-color: white;
}

.only-corner {
  --s: 50px; /* the size on the corner */
  --t: 5px;  /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  width: 300px;
  border-radius: 10%;
  transform: translate(-50%, -50%);
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #000000; /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

.input {
   @apply px-4 py-3 border-gray-500 rounded-md border-[1px] bg-white w-full
}

.title {
  @apply w-auto text-center font-bold md:font-medium text-3xl md:text-xl mt-10 mb-16 md:mb-4 md:mt-6
}

.button-voluntary {
  @apply w-11/12 bg-purple-base text-white rounded-sm text-center h-14 middle text-lg font-bold
}