@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  background-color: #888888;
}

.middle {
  @apply flex justify-center items-center
}

.ion-color-purple {
  --ion-color-base: #3D1B47
}

.ion-color-grey {
  --ion-color-base: #888888
}


.horizontal_dotted_line {
  display: flex;
  width: auto;
  padding: 5px;
} 

.dotted-line {
  border-bottom: 1px dotted black;
  margin-left: 2px;
  margin-right: 2px;
  width: auto;
  content: '';
  height: 1.4em;
  flex: 1;
  overflow: hidden;
}

#map {
  width: 500px;
  height: 500px;
}

.md body {
  --ion-text-color: black
}